html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #99CCCC;
}

#bentenavs {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 41px;
}

.nav-tabs > li .close {
    margin: -2px 0 0 10px;
    font-size: 18px;
}

#bentetabs {
    position: fixed;
    top: 41px;
    left: 0;
    right: 0;
    bottom: 0;
}

.bentetab {
    width: 100%;
    height: 100%;
}

.benteview {
    width: 100%;
    height: 100%;
}
